doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Museo

    link(rel="stylesheet", href="/styles/principal.css")
  body
    h1#titulo Obras de Arte
    .content
      section#menu
        label(for="opciones") Elige un departamento:
        select#opciones
          option(value=null) Opciones
          each departamento in departamentos
            option(value=departamento.id)= departamento.nombre

        label Elige un pais
        select#paises
          option paises
          option(value="Argentina") Argentina
          option(value="Brazil") Brasil
          option(value="Chile") Chile
          option(value="Uruguay") Uruguay
          option(value="France") Francia
        label Palabra clave 
        input#buscador(type="text", placeholder="Buscar...")
        button#filtrarBtn Filtrar Obras

      section#obras

      nav.pagination
        button#paginaAnterior Página Anterior
        button#paginaSiguiente Página Siguiente

    script.
      window.obrasDeArte = !{JSON.stringify(obrasDeArte)};
      window.departamentos = !{JSON.stringify(departamentos)};
    script(src="/museo.js")