doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Página Principal
    link(rel="stylesheet", href="/styles/main.css")
  body
    h1 Bienvenido al Museo
    button#verObras Ver Obras de Arte

    // Importar el script principal.js
    script(src="/principal.js")
